/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Display */
.display {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: right;
    font-size: 2em;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Keypad */
.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    background-color: #333;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #57c93a;
}

/* Scientific keypad */
#scientific-keypad {
    margin-top: 20px;
}

/* Graph Plotter */
#graph-plotter {
    margin-top: 20px;
}

/* Conversion */
#conversion {
    margin-top: 20px;
}

/* Theme Toggle */
.theme-toggle button {
    background-color: #f0f0f0;
    color: #222;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.dark-mode {
    background-color: #222;
    color: white;
}

.dark-mode button {
    background-color: #444;
    color: white;
}
